<div class ="center1" style="text-align:initial;">
<h1>このサイトについて</h1>
</div>

<hr>
<div class ="center1" style="text-align:initial;">
<p>面白いと思った記事をシェアして教えて下さい。<br><br>Login/Signupからアカウントを作ると、<br>・記事のシェア<br>・自分のシェアした記事の確認、削除<br>・コメントにユーザーネームの表示</p>
<p>相手を誹謗中傷するような発言は禁止です。<br>皆が楽しく使える場所になるよう心がけましょう。</p>
</div>