/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,body{
    margin:0px;
    word-wrap: break-word;
    width:100%;
    
  }

 .topnav {
    background-color: #333;
    overflow: hidden;
    color: #f2f2f2;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .bye{
    display: none;
  }
  
  #opinion_title {
    width: 300px;
    height: 15px;
  }

  #opinion_url {
    width: 300px;
    height: 15px;
}

 #opinion_content {
  width: 80%;
  height: 300px;
}

#comment_content {
  width: 80%;
  height: 300px;
}


.wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer{
   text-align: center;
    margin-top: 800px;;
    color: #fff;
    width: 100%;
    background-color: black;
    height: 140px;
    bottom: 0;
}

footer h3{
  padding-top: 50px;
}
 

  
